* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.btn {
  background-color: #8d5cf6;
  padding: 15px 30px;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

.btn:hover {
  background-color: #402a6e;
}

section {
  margin: 0;
  height: 100vh;
  padding: 40px 0;
  min-width: 100%;
  background: #26335d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.transparent-btn {
  background: transparent;
}

.transparent-btn:hover {
  background-color: rgba(31, 31, 31, 0.4);
  border: 1px #402a6e;
}

.btn-outline {
  background: transparent;
  border: 2px solid #fff;
  border-style: inset;
}

.btn-outline:hover {
  background: #402a6e;
}

/** h1 and header**/
header {
  margin: 0;
  height: 100vh;
  padding: 40px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.85)), to(rgba(31, 31, 31, 0))), url("../assets/images/dark-hero-3-cover sec-.png");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(31, 31, 31, 0)), url("../assets/images/dark-hero-3-cover sec-.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header .container {
  max-width: 1200px;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(31, 31, 31, 0.5);
  position: absolute;
  top: 0;
}

header nav {
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .nav-links .logo {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

header nav .nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
  list-style: none;
}

header nav .nav-links ul li {
  margin-left: 20px;
}

header nav .nav-links ul li a {
  text-decoration: none;
  position: relative;
  height: 100px;
  width: 50px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 5px;
}

header nav .nav-links ul li a:hover {
  text-decoration: underline;
}

header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 0 2rem;
}

header .nav-btns {
  margin-right: 3rem;
}

.hero-section {
  margin: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  position: relative;
}

.hero-section p {
  color: #fff;
  font-weight: 600;
  width: 40%;
}

.hero-section .welcome {
  margin: 3rem 0 3rem 1rem;
  color: #8d5cf6;
  font-weight: 700;
  font-size: 1rem;
}

.hero-section h1 {
  font-size: 5.5rem;
  color: #fff;
  width: 50%;
  font-weight: 600;
  margin: 0 0 3rem 0;
}

.hero-section .ctn {
  position: absolute;
  bottom: 37%;
}

/**second section**/
.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8rem;
  margin: 2rem;
}

.top-container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
}

.top-container .left .red-line {
  background: red;
  height: 8px;
  width: 70px;
}

.top-container .left h1 {
  color: #fff;
  margin: 0rem 0 3rem 0;
}

.top-container .left p {
  color: #fff;
  margin-bottom: 3rem;
  max-width: 70%;
}

.top-container .left a {
  width: 6rem;
}

.top-container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 50%;
}

.top-container .right img {
  height: 20rem;
  width: 20rem;
  border-radius: 2rem;
}

.bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  padding: 0 10rem 10rem 10rem;
}

.bottom-container img {
  margin: 1rem;
}

/** third section*/
section .container {
  padding: 6rem;
  display: block;
  min-width: 100%;
  position: relative;
}

section .container .hdr {
  color: #fff;
  margin: 3rem;
}

section .container .hdr h1 {
  margin: 0rem 0 3rem 0;
}

section .container .hdr p {
  margin-bottom: 3rem;
  max-width: 40%;
}

section .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: absolute;
}

section .container .cards .card {
  width: 10rem;
  margin: 3rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
}

section .container .cards .card .card-img img {
  width: 5rem;
  height: 5rem;
}

section .container .cards .card .red-line {
  background-color: red;
  height: 5px;
  width: 65px;
  margin: 1rem 0 1rem 0;
}

section .container .cards .card .card-info {
  color: #8d5cf6;
}

/**fourth section*/
.card-photo {
  background-color: #8d5cf6;
  height: 10rem;
  position: relative;
}

.card-photo img {
  height: 10rem;
  width: 10rem;
}

.card-photo .icons {
  position: absolute;
  bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-photo .icons img {
  width: 24px;
  height: 24px;
  padding: 0.7rem;
}
/*# sourceMappingURL=style.css.map */